<!-- <div class="logo-section">
    <img src="assets/Images/Patext_logo.jpeg" />
  </div>
  <div class="right-section">
    <div class="user-area dropdown">
      <span class="dropdown-toggle active">
        Welcome, {{ UserName | titlecase }}{{ Customer | titlecase }} <img class="user-avatar rounded-circle" 
        src="assets/Images/admin.jpg" alt="User Avatar" />
      </span>
      <p><a (click)="logout()">Logout</a></p>
      <div class="user-menu"> -->
        <!-- <div class="nav-link"  routerLink="/"><i class="fa fa -cog"></i>My Profile</div>
        <div class="nav-link" ><i class="fa fa -cog"></i>Change Password</div> -->
        <!-- <div class="nav-link" (click)="logout()"><i class="fa fa-power -off"></i>Logout</div>
      </div>
    </div>
  </div> -->

  <!-- <header class="site-header">
    <div class="site-identity">
      <a href="#"><img src="./../../../assets/Images/final_logo.png" alt="Site Name" /></a>
    </div>  
    <nav class="site-navigation">

      <ul class="item">
          
          <div *ngIf="router.url.includes('/booking')">
          <li *ngIf="!UserName">
            <a class="nav-link" routerLink='/booking'  routerLinkActive='active'>Book Shipment </a>
          </li>
          <li *ngIf="!UserName">
            <a class="dropdown-toggle" routerLink="/booking/myshipment" routerLinkActive="active">My Shipment</a>
          </li>
          
          <li *ngIf="!UserName">
            <a class="dropdown-toggle" routerLink="/booking/trackshipment" routerLinkActive="active">Track Shipment</a>
          </li>
          </div>


          <div *ngIf="router.url.includes('/shipment')|| UserName">
            <li >
              <a class="nav-link" routerLink='/shipment' routerLinkActive='active'>Shipment Que</a>
            </li>
            <li >
              <a class="dropdown-toggle" routerLink="/shipment/myque" routerLinkActive="active">My Que</a>
            </li>
            
            <li >
              <a class="dropdown-toggle" routerLink="/shipment/unload" routerLinkActive="active">Unload</a>
            </li>
            </div>
      </ul>
      <ul class="nav">
        <li><a href="#">
          <div class="user-area dropdown">
            <span class="dropdown-toggle active">
              Welcome, {{ UserName | titlecase }}{{ Customer | titlecase }} <img class="user-avatar rounded-circle" 
              src="assets/Images/admin.jpg" alt="User Avatar" />
            </span>
            <div class="user-menu">
               <div class="nav-link" (click)="logout()"><i class="fa fa-power -off"></i>Logout</div>
            </div>
          </div>
        </a></li> 
        <li><a (click)="logout()" class="user" >Logout</a></li>
      </ul>
    </nav>
  </header> -->


  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <a href="#"><img src="./../../../assets/Images/final_logo.png" alt="Site Name" /></a>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <!-- <a href="//github.io/jo_geek" target="_blank">Github</a>
      <a href="http://stackoverflow.com/users/4084003/" target="_blank">Stackoverflow</a>
      <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">LinkedIn</a>
      <a href="https://codepen.io/jo_Geek/" target="_blank">Codepen</a>
      <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank">JsFiddle</a> -->
      <div *ngIf="router.url.includes('/booking')">
        <li *ngIf="!UserName">
          <a class="nav-link" routerLink='/booking'  routerLinkActive='active'>Book Shipment </a>
        </li>
        <li *ngIf="!UserName">
          <a class="dropdown-toggle" routerLink="/booking/myshipment" routerLinkActive="active">My Shipment</a>
        </li>
        
        <li *ngIf="!UserName">
          <a class="dropdown-toggle" routerLink="/booking/trackshipment" routerLinkActive="active">Track Shipment</a>
        </li>

        <li *ngIf="!UserName">
          <a href="#">
            <div class="user-area dropdown">
              <span class="dropdown-toggle active">
                Welcome, {{ UserName | titlecase }}{{ Customer | titlecase }} <img class="user-avatar rounded-circle" 
                src="assets/Images/admin.jpg" alt="User Avatar" />
              </span>
              <div class="user-menu">
                <div class="nav-link" (click)="logout()"><i class="fa fa-power -off"></i>Logout</div>
              </div>
            </div>
          </a>
        </li> 

        <li *ngIf="!UserName">
            <a (click)="logout()" class="user" >Logout</a>
        </li>
      </div>


        <div *ngIf="router.url.includes('/shipment')|| UserName">
          <li >
            <a class="nav-link" routerLink='/shipment' routerLinkActive='active'>Shipment Que</a>
          </li>
          <li >
            <a class="dropdown-toggle" routerLink="/shipment/myque" routerLinkActive="active">My Que</a>
          </li>
          
          <li >
            <a class="dropdown-toggle" routerLink="/shipment/unload" routerLinkActive="active">Unload</a>
          </li>

          <li *ngIf="!UserName">
            <a href="#">
              <div class="user-area dropdown">
                <span class="dropdown-toggle active">
                  Welcome, {{ UserName | titlecase }}{{ Customer | titlecase }} <img class="user-avatar rounded-circle" 
                  src="assets/Images/admin.jpg" alt="User Avatar" />
                </span>
                <div class="user-menu">
                  <div class="nav-link" (click)="logout()"><i class="fa fa-power -off"></i>Logout</div>
                </div>
              </div>
            </a>
          </li> 
  
          <li *ngIf="!UserName">
              <a (click)="logout()" class="user" >Logout</a>
          </li>
          </div>
    </div>
  </div>

  

