.user-menu {
    display: none;
}


/* body {
    font-family: Helvetica;
    margin: 0;
  } */
  a {
    text-decoration: none;
    color: #000;
  }
  .site-header { 
    /* border-bottom: 1px solid #ccc; */
    padding: .5em 1em;
    height: 100px;
  }
  
  .site-header::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .site-identity {
    float: left;
  }
  
  .site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
  }
  
  .site-identity img {
    max-width: 40%;
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    top: 10px;
  }
  
  .site-navigation {
    float: right;
  }
  
  .site-navigation ul, li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
  }

  .site-navigation .item{
    float: left;
    margin-right: 20px;
  }
  .site-navigation .item li{
    display: inline-block;
    line-height: 100px;
    margin: 0 15px;
  }

ul.item {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -5px;
}

.site-navigation .item a{
  text-decoration: none;
    color: wheat;
    font-size: 20px;
}


@media (min-width: 320px) and (max-width: 576px){
  .site-header { 
    /* border-bottom: 1px solid #ccc; */
    padding: .5em 1em;
    height: 80px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 100px;
  width: 100%;
  background-color: #0e1d3b;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

/* .nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
} */

.nav-header img {
  max-width: 65%;
  float: left;
  margin: 0 10px 0 0;
  position: relative;
  top: 10px;
}

.nav > .nav-btn {
  display: none;
}

@media only screen and (min-width: 1200px){
.nav-links li, a {
  display: inline;
  float: left;
  font-size: 18px;
}
}

.nav-links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  margin-top: 20px;
  font-size: 20px;
}

.nav .nav-links a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (min-width: 320px) and (max-width: 576px) {

  .nav {
    height: 80px;
    width: 100%;
    background-color: #0e1d3b;
    position: relative;
  }

  .nav-header img {
    max-width: 50%;
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    top: 10px;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 20px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: fixed;
    /* display: block; */
    width: 100%;
    background-color: rgb(7 17 36);
    text-align: center;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    z-index: 4;
    top: 80px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav-links li {
    transform: translate(0px, 0px) !important;
    opacity: 1 !important;
    font-size: 18px;
  }
  
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 500px);
    overflow-y: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .nav {
    height: 80px;
    width: 100%;
    background-color: #0e1d3b;
    position: relative;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 20px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: fixed;
    /* display: block; */
    width: 100%;
    background-color: rgb(7 17 36);
    text-align: center;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    z-index: 4;
    top: 80px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav-links li {
    transform: translate(0px, 0px) !important;
    opacity: 1 !important;
    font-size: 18px;
  }
  
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 500px);
    overflow-y: auto;
  }
}

