/* .header-top{
    background:  rgb(22,66,94);
    background: radial-gradient(circle, rgba(22,66,94,1) 0%, rgba(37,138,185,1) 41%, rgba(171,219,227,1) 100%);
} */

.header-top{
  background-color: #0e1d3b;
  height: 100px;
}

@media (min-width: 320px) and (max-width: 576px){
  .col-sm-12.right-block {
    width: 396px;
  }

  .container{
      width: 380px;
      padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .header-top{
    background-color: #0e1d3b;
    height: 80px;
  }
}


/* @media (min-width: 768px){
  .col-sm-12.right-block {
   width: 768px;
  }

  .container{
    max-width: 720px;
    padding-right: 10px;
  padding-left: 10px;
  margin-right: auto; */
  /* margin-left: auto; */


@media only screen and (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
}


/* .col-sm-12.right-block {
    width: 400px;
  } */