@media screen and (max-width: 480px){
    ag-grid-angular {
        min-width: 100% !important;
        /* height: 200px;
        margin: 0px; */
        background-color: red;
    }

    ::ng-deep .ag-theme-alpine .ag-layout-auto-height .ag-center-cols-clipper, 
    .ag-theme-alpine .ag-layout-auto-height .ag-center-cols-container,
    .ag-theme-alpine .ag-layout-print .ag-center-cols-clipper, 
    .ag-theme-alpine .ag-layout-print .ag-center-cols-container {
        min-height: 0px !important;
    }
    
}

@media only screen 
  and (min-width: 768px) 
   {

    ag-grid-angular {
        min-width: 80% !important;
        /* height: 200px;
        margin: 0px; */
        background-color: red;
    }

}


ag-grid-angular {
    width: 59% !important;
}

::ng-deep .ag-theme-alpine .ag-layout-auto-height .ag-center-cols-clipper, 
    .ag-theme-alpine .ag-layout-auto-height .ag-center-cols-container,
    .ag-theme-alpine .ag-layout-print .ag-center-cols-clipper, 
    .ag-theme-alpine .ag-layout-print .ag-center-cols-container {
        min-height: 0px !important;
    }

    /* 22ABD000070 */
form {
    margin-top: 30px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent !important;
}

button, button:hover {
    margin-left: 10px;
    background-color: #1a2b4c;
    color: #e6c6a9;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #1a2b4c;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(0, 0, 0) !important;
}

/* .mat-form-field-label.mat-focused {
    color: #0e1d3b;
} */
