<div class="full-page">
<form [formGroup]="LRTrack">
        <div class="form-group">
            <mat-form-field  appearance="fill">
                <mat-label>Enter LR Number</mat-label>
                <input formControlName="LrId" matInput>
                </mat-form-field>
                <button type="submit" [disabled]="LRTrack.invalid" class="btn btn-primary otp-button" (click)="TrackShipment()">Track</button>
        </div>

    <ag-grid-angular #agGrid style="width: 59%; height: 500px; margin: 0px;" class="ag-theme-alpine" *ngIf="rowData"
        [rowData]="rowData" [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="10">
    </ag-grid-angular>
</form>
</div>