<div class="full-page">
<form [formGroup]="LRTrack">
        <div class="form-group">
            <mat-form-field  appearance="fill">
                <mat-label>Enter LR Number</mat-label>
                <input formControlName="LrId" matInput>
                </mat-form-field>
                <button type="submit" [disabled]="LRTrack.invalid" class="btn btn-primary otp-button" (click)="TrackShipment()">Track</button>
        </div>
       
  
  
    <ag-grid-angular 
    #agGrid style="height: auto; margin: 0px;"
     class="ag-theme-alpine" *ngIf="rowData"
     [domLayout]="domLayout"
        [rowData]="rowData" 
        [columnDefs]="columnDefs" 
        [pagination]="true" 
        [paginationPageSize]="noOfRows"
        (gridReady)="onGridReady($event)"
        (gridSizeChanged)="onGridSizeChanged($event)"
      >
    </ag-grid-angular>
</form>
</div>